/htm/
/gh-pages/

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.dvi
/doc/*.example-1.tst
/doc/*.example-2.tst
/doc/*.example-4.tst
/doc/*.example-6.tst
/doc/*.example-7.tst
/doc/*.example-8.tst
/doc/*.example-9.tst
/doc/*.idx
/doc/*.lab
/doc/*.log
/doc/*.toc
/doc/manual.pdf
/doc/tthmacros.tex
/doc/tthout

/Makefile
/bin/
/sedfile
/src/Makefile