/htm/
/gh-pages/
/tmp/

/doc/*.css
/doc/*.js
/doc/_*.xml
/doc/_main.*
/doc/acebib.xml.bib
/doc/chap*.html
/doc/chap*.txt
/doc/chooser.html
/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/title.xml

/Makefile
/bin/
/src/ace
