/htm/
/gh-pages/
/tmp/

*.aux
*.bbl
*.blg
*.dvi
/doc/*.example-1.tst
/doc/*.example-2.tst
/doc/*.example-4.tst
/doc/*.example-6.tst
/doc/*.example-7.tst
/doc/*.example-8.tst
/doc/*.example-9.tst
*.idx
*.ilg
*.ind
*.lab
*.log
*.six
*.toc
*.lof
*.lot
*.mpx
*.eps
*.swp
/doc/manual.pdf
/doc/tthmacros.tex
/doc/tthout

/Makefile
/bin/
/src/ace
